<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:appCategory="productivity"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PdfReaderNeo"
        android:usesCleartextTraffic="true"
        tools:targetApi="UPSIDE_DOWN_CAKE">
        <activity
            android:name=".activities.tools.modify.SplitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.modify.MergeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.modify.CompressActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.scanner.ViewScannedDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.scanner.ListDocScannedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.scanner.EditScannedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.picker.SelectFileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.converter.TextToPdfActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.converter.ExcelToPdfActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.converter.WordToPdfActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.converter.ImageToPdfActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AppBoardingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <activity
            android:name=".activities.AppLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.viewer.EditPdfActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.viewer.PDFReaderActivity"
            android:exported="true">
            <intent-filter
                android:scheme="http"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.viewer.ReaderActivity"
            android:exported="true">
            <intent-filter
                android:scheme="http"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/msexcel" />
                <data android:mimeType="application/vnd.ms-word" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:mimeType="application/vnd.ms-word.document.macroenabled.12" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.ms-word.template.macroenabled.12" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template" />
                <data android:mimeType="application/vnd.ms-excel.sheet.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/vnd.ms-excel.addin.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-excel.template.macroenabled.12" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.template" />
                <data android:mimeType="application/vnd.ms-powerpoint.presentation.macroenabled.12" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow" />
                <data android:mimeType="application/vnd.ms-powerpoint.slideshow.macroenabled.12" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>