<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity
            android:name="coder.apps.aftercall.ui.PostCallActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=".PostCallActivity"
            android:theme="@style/Theme.SlideAnimWindow"
            android:turnScreenOn="true"
            android:windowSoftInputMode="adjustPan" />

        <receiver
            android:name="coder.apps.aftercall.receivers.PhoneStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="coder.apps.aftercall.receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name="coder.apps.aftercall.scheduler.PostCallJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="coder.apps.aftercall.services.PostCallForegroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="phoneCall" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="coder.apps.aftercall.startup.WebViewInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="coder.apps.aftercall.startup.MobileAdsInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="coder.apps.aftercall.startup.PostCallInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
